﻿body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.pointer {
    cursor: pointer;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.shortinput {
    max-width: 100px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.margin-bottom {
    margin-bottom: 15px;
}

h1 {
    color: #9a9fa5;
}

td {
    color: #585b5e;
}

.btn-save {
    min-width: 100px;
}