﻿<div class="container" data-ng-controller="thingsController">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                mina prylar
            </h1>
            <a href="" data-ng-click="logout()">Logga ut</a>
            <p class="bg-danger" data-ng-show="errorText">
                {{ errorText }}
            </p>
            <input type="text" id="search" class="form-control margin-bottom" placeholder="Sök" data-ng-model="searchTerm" />
            <button class="btn btn-success margin-bottom" data-ng-click="goToThing('new')">Ny pryl</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table wt-responsive-table class="table table-striped table-hover">
                <thead>
                <tr class="pointer">
                    <th data-ng-click="sortBy('nameOf')">
                        <span>Benämning</span>
                        <span class="sortorder" ng-show="propertyName === 'nameOf'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th data-ng-click="sortBy('purchasePrice')">
                        <span>Inköpspris</span>
                        <span class="sortorder" ng-show="propertyName === 'purchasePrice'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th data-ng-click="sortBy('purchaseDate')">
                        <span>Inköpsdatum</span>
                        <span class="sortorder" ng-show="propertyName === 'purchaseDate'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th data-ng-click="sortBy('giftFrom')">
                        <span>Fått i present av</span>
                        <span class="sortorder" ng-show="propertyName === 'giftFrom'" ng-class="{reverse: reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer" data-ng-repeat="thing in things | filter:searchTerm | orderBy:propertyName:reverse" data-ng-click="goToThing(thing.id)">
                    <td>{{ thing.nameOf }}</td>
                    <td>{{ thing.purchasePrice }}</td>
                    <td>{{ getDate(thing) }}</td>
                    <td>{{ thing.giftFrom }}</td>
                </tr>
                </tbody>
            </table>
            <img data-ng-show="isLoading" src="/images/loading.gif" alt="loading" height="35" width="35">
        </div>
    </div>
</div>