﻿<div class="container" data-ng-controller="thingController">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                {{ title }}
            </h1>
            <p class="bg-danger" data-ng-show="errorText">
                {{ errorText}}
            </p>
        </div>
    </div>
    <div data-ng-show="!isLoading">
        <div class="row">
            <form class="form-horizontal">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="nameof">Namn</label>
                        <input ng-disabled="isSaving" type="text" class="form-control" id="nameof" placeholder="Namn" data-ng-model="thing.nameOf" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="description">Beskrivning</label>
                        <textarea ng-disabled="isSaving" type="text" class="form-control" id="description" placeholder="Beskrivning" data-ng-model="thing.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Antal</label>
                        <input ng-disabled="isSaving" type="number" class="form-control" id="quantity" placeholder="Antal" data-ng-model="thing.quantity" />
                    </div>
                    <div class="form-group">
                        <label for="purchasePrice">Inköpspris</label>
                        <input ng-disabled="isSaving" type="number" class="form-control" id="purchasePrice" placeholder="Inköpspris" data-ng-model="thing.purchasePrice" />
                    </div>
                    <div class="form-group">
                        <label for="purchaseYear">Inköpsdatum (år-mån-dag)</label>
                        <div class="form-inline">
                            <input ng-disabled="isSaving" type="number" min="1950" class="form-control shortinput" id="purchaseYear" placeholder="År" data-ng-model="thing.purchaseYear" />
                            <input ng-disabled="isSaving" type="number" max="12" min="1" class="form-control shortinput" id="purchaseMonth" placeholder="Månad" data-ng-model="thing.purchaseMonth" />
                            <input ng-disabled="isSaving" type="number" max="31" min="1" class="form-control shortinput" id="purchaseDay" placeholder="Dag" data-ng-model="thing.purchaseDay" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="giftFrom">Fått i present av</label>
                        <input ng-disabled="isSaving" type="text" class="form-control" id="giftFrom" placeholder="Fått i present av" data-ng-model="thing.giftFrom" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="tags">Taggar</label>
                        <input ng-disabled="isSaving" type="text" class="form-control" id="tags" placeholder="Taggar" />
                    </div>
                    <div class="form-group">
                        <label for="image">Bild</label>
                        <div class="col-xs-12">
                            <img class="pointer" id="image" src="{{ thing.imageSrc || '/images/image_placeholder.png' }}" alt="{{ thing.nameof }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="receipt">Kvitto</label>
                        <div class="col-xs-12">
                            <img class="pointer" id="receipt" src="{{ thing.receiptSrc  || '/images/image_placeholder.png'}}" alt="{{ thing.nameof }}" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="pull-right">
                    <button data-ng-show="isSaving" class="btn btn-success btn-save" disabled="disabled" data-ng-click="save()">Sparar...</button>
                    <button data-ng-show="!isSaving" class="btn btn-success btn-save" data-ng-click="save()">Spara</button>
                    <button ng-disabled="isSaving" class="btn btn-primary" data-ng-click="goToThings()">Avbryt</button>
                    <button data-ng-show="!isSaving" class="btn btn-danger" data-ng-click="remove()">Ta bort</button>
                    <button data-ng-show="isSaving" class="btn btn-danger" disabled="disabled" data-ng-click="remove()">Tar bort...</button>
                </span>
            </div>
        </div>
    </div>
</div>