﻿<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Prylregister.se</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap_superhero.css" />
    <link rel="stylesheet" href="~/css/angular-responsive-tables.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div data-ng-view></div>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-cookies.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular-responsive-tables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/services/google.service.js"></script>
    <script src="~/app/login/login.controller.js"></script>
    <script src="~/app/things/things.controller.js"></script>
    <script src="~/app/things/thing.controller.js"></script>
    <script src="~/lib/angular-social-login.js"></script>
</body>
</html>