﻿<div class="container" data-ng-controller="loginController">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                Please login
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button g-login type="button">Google Login</button>
            <br/>
            <br/>
            <button class="btn btn-success" data-ng-click="goToThings()">Login</button>
        </div>
    </div>
</div>